name: Test in Linux Distributions

on:
  push:
    tags:
      - "v*"
    # branches:
    #   - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 2 * * *"

jobs:
  on-success:
    needs: test
    runs-on: ubuntu-latest
    container: whatwewant/zmicro:v1
    if: ${{ always() && needs.test.result == 'success' }}
    steps:
      - name: Notification Feishu
        uses: whatwewant/action-robot-feishu@v0.0.13
        with:
          url: ${{ secrets.WORKFLOW_FEISHU_BOT_WEBHOOK_URL }}
          title: "✅ 自动化测试：${{ github.repository }}"
          text: |
            分支: ${{ github.ref }}
            提交信息: ${{ github.event.head_commit.message }}
            提交人: ${{ github.actor }}
            状态: 构建成功（https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}）

  on-failure:
    needs: test
    runs-on: ubuntu-latest
    container: whatwewant/zmicro:v1
    if: ${{ always() && needs.test.result == 'failure' }}
    steps:
      - name: Notification Feishu
        uses: whatwewant/action-robot-feishu@v0.0.13
        with:
          url: ${{ secrets.WORKFLOW_FEISHU_BOT_WEBHOOK_URL }}
          title: "❌ 自动化测试：${{ github.repository }}"
          text: |
            分支: ${{ github.ref }}
            提交信息: ${{ github.event.head_commit.message }}
            提交人: ${{ github.actor }}
            状态: 构建失败（https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}）

  test:
    runs-on: ubuntu-latest
    container: whatwewant/zmicro:v1

    steps:
      - name: Update Zmicro
        run: zmicro update -a

      - uses: actions/checkout@v2
        with:
          fetch-depth: "0"

      - name: Install Docker CLI
        run: zmicro package install docker

      - name: Install in ubuntu
        run: docker build -t zmicro:ubuntu -f config/docker/Dockerfile.ubuntu .

      - name: Install in alpine
        run: docker build -t zmicro:alpine -f config/docker/Dockerfile.alpine .

      # - name: Install in centos
      #   run: docker build -t zmicro:centos -f config/docker/Dockerfile.centos .

      - name: Install in fedora
        run: docker build -t zmicro:fedora -f config/docker/Dockerfile.fedora .

      - name: Install in archlinux
        run: docker build -t zmicro:archlinux -f config/docker/Dockerfile.archlinux .
